In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.1203,-134.9692,76.03,70,91,17.52,PF,2021-12-10 18:04:24
1,1,Saskylakh,71.9167,114.0833,-11.67,97,100,8.52,RU,2021-12-10 18:04:25
2,2,Port Elizabeth,-33.9180,25.5701,74.10,92,36,4.88,ZA,2021-12-10 18:00:16
3,3,Sao Joao Da Barra,-21.6403,-41.0511,84.29,73,12,12.12,BR,2021-12-10 18:04:25
4,4,Lobito,-12.3481,13.5456,78.85,81,7,6.44,AO,2021-12-10 18:04:26

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.1203,-134.9692,76.03,70,91,17.52,PF,2021-12-10 18:04:24
3,3,Sao Joao Da Barra,-21.6403,-41.0511,84.29,73,12,12.12,BR,2021-12-10 18:04:25
4,4,Lobito,-12.3481,13.5456,78.85,81,7,6.44,AO,2021-12-10 18:04:26
12,12,Padang,-0.9492,100.3543,78.85,89,97,3.53,ID,2021-12-10 18:00:29
17,17,Lamu,-2.2717,40.9020,82.62,80,22,10.63,KE,2021-12-10 18:04:29
19,19,Vaini,-21.2000,-175.2000,78.19,76,11,15.79,TO,2021-12-10 18:04:30
24,24,Araceli,10.5529,119.9913,81.05,80,99,22.97,PH,2021-12-10 18:04:31
30,30,Butaritari,3.0707,172.7902,82.22,75,90,12.15,KI,2021-12-10 18:04:33
31,31,Mogadishu,2.0371,45.3438,79.03,77,74,20.24,SO,2021-12-10 18:04:33
39,39,Samarai,-10.6167,150.6667,81.45,79,95,14.92,PG,2021-12-10 18:04:36

In [14]:
preferred_cities_df.count()

City_ID       191
City          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
Country       190
Date          191
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0             Rikitea      PF     76.03 -23.1203 -134.9692
3   Sao Joao Da Barra      BR     84.29 -21.6403  -41.0511
4              Lobito      AO     78.85 -12.3481   13.5456
12             Padang      ID     78.85  -0.9492  100.3543
17               Lamu      KE     82.62  -2.2717   40.9020
19              Vaini      TO     78.19 -21.2000 -175.2000
24            Araceli      PH     81.05  10.5529  119.9913
30         Butaritari      KI     82.22   3.0707  172.7902
31          Mogadishu      SO     79.03   2.0371   45.3438
39            Samarai      PG     81.45 -10.6167  150.6667

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,76.03,-23.1203,-134.9692,People ThankYou
3,Sao Joao Da Barra,BR,84.29,-21.6403,-41.0511,Pousada Porto De Canoas
4,Lobito,AO,78.85,-12.3481,13.5456,Casa Rosa Hotel Residence
12,Padang,ID,78.85,-0.9492,100.3543,Mercure Padang
17,Lamu,KE,82.62,-2.2717,40.9020,Lamu House
...,...,...,...,...,...,...
559,Matadi,CD,81.14,-5.8167,13.4500,Hotel Vivi Palace
560,Ambulu,ID,76.71,-8.3450,113.6058,Hotel Ambulu Jember
566,Petatlan,MX,89.40,17.5167,-101.2667,Hotel California Petatlán
572,Santa Rosa,PH,78.12,14.3122,121.1114,Erlyn’s Sta Rosa City Home
576,Miracema Do Tocantins,BR,81.09,-9.5618,-48.3967,Miami Apart Hotel

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))